<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>食物語角色頁面</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="turtle_styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div id="bg">

            <!-- <div><img src="images/combined.png" alt="上面的條" width="100%"></div> -->
            <nav class="navbar navbar-expand-sm bg-light2">
                
              <ul class="navbar-nav ">
                <li id="line">｜</li>
                <li class="nav-item ">
                  <a class="nav-link" href="index">食魂</a>
                </li>
                <li id="line">｜</li>
                <li class="nav-item ">
                  <a class="nav-link" href="weapon.html">膳具</a>
                </li>
                <li id="line">｜</li>
                <li class="nav-item ">
                  <a class="nav-link " href="board">討論區</a>
                </li>
                <li id="line">｜</li>
                
                <ul class="navbar-nav ">
                  <li id="line">｜</li>
                  <li class="nav-item ">
                    <a class="nav-link" href="login.html">登入</a>
                  </li>
                  <li id="line">｜</li>
                  <li class="nav-item ">
                      <a class="nav-link" href="gameform.html">註冊</a>
                  <li id="line">｜</li>
                    </li>
                  </ul>
              </ul>
              </nav>
              
            <div class="container border">
                <!-- SSR -->
                <% character.forEach(function(item){if(item.rarity){%>
    
                <div id="stand" class="row border" style="margin-bottom:80px">
                    <div class="col-md-12 col-lg-8  border"
                        style="background-image: url('images/body/<%= item.name %>.png');background-repeat: no-repeat; background-size: 670px;z-index: 1;">
                        <a href="index.html#SSR"><img src="images/SSR.png"
                                style="padding-bottom:540px;padding-right:350px;padding-top:40px;"></a>
                    </div>
    
                    <div id="info" class="col-md-12 col-lg-5 mt-4 mb-3 pt-4 border" style="margin-bottom:200px">
                        <!-- <img src="images/框.png" id="P1" > -->
                        <div id="head" class="row border">
                            <!--<b class="p3">佛跳牆</b> <b class="p4">　CV:阿傑 特性:命中</b><br>-->
                            <div class="col-sm-12 p-1"><b class="p3"><%= item.name %></b></div>
                            <div id="head" class="row border">
                                <div class="col-sm-12 p-1" style="margin-left:50px" ><b class="p4">　CV:<%= item.cv %> 特性:<%= item.feature %></b>
                                </div>
                            </div>
                        </div>
    
                        <div class="container border"  style="width: 650px; height: 300px; margin-left: -110px;">
                            <canvas id="myChart"></canvas>
                        </div>
    
    
    
                        <div id="ABC" class="row border">
                            <div class="mr-2 mt-3 border"><p style="writing-mode:vertical-lr; "><b class="p4">技能</b></p></div>
                            <div class="mr-2 mt-3 border"><img src="images/技能圖/<%= item.name %>/1.png"></div>
                            <div class="mr-2 mt-3 border"><img src="images/技能圖/<%= item.name %>/2.png"></div>
                            <div class="mr-2 mt-3 border"><img src="images/技能圖/<%= item.name %>/3.png"></div>
                        </div>
                        <div id="ABC" class="row border">
                            <div class="mr-2 mt-3 border"><p style="writing-mode:vertical-lr; "><b class="p4">禮物</b></p></div>
                            <div class="mr-2 mt-3 border"><img src="images/禮物/<%= item.name %>.jpg"></div>
                            <div class="mr-2 mt-3 border"><p style="writing-mode:vertical-lr; "><b class="p4">湯藥</b></p></div>
                            <div class="mr-2 mt-3 border"><img src="images/湯藥/<%= item.soup %>.jpg"></div>
                        </div>
                        <div id="ABC" class="row border">
                            <div class="mr-2 mt-3 border"><p style="writing-mode:vertical-lr; "><b class="p4">材料一</b></p></div>
                            <div class="mr-2 mt-3 border"><img src="images/升級材料//<%= item.material_1 %>.png"></div>
                            <div class="mr-2 mt-3 border"><p style="writing-mode:vertical-lr; "><b class="p4">材料二</b></p></div>
                            <div class="mr-2 mt-3 border"><img src="images/升級材料//<%= item.material_2 %>.png"></div>
                        </div>
    
                    </div>
                </div>
                
                <div class="container  border"style="padding-left: 280px";>
                <form method="post" action="/comment">
                 
                  <input type="text" id="reply" style="width: 550px;" name="reply"/>
                  <button type="submit"  name="name" id="<%= item.name %>" class="btn btn-primary" value="<%= item.name %>"
                       
                    style="background-image: url(images/評論按鈕.png); background-color: #4caf4f00;background-size: cover;background-repeat: no-repeat;width: 100px;height: 46px;border:none;"

                    ></button>
                  </form>
                </div>
                  <%} })%>

            </div>
            <%  character.forEach(function(item){if(item.username){%>
              <div id="row" class="col-sm-12 col-md-3 col-lg-1 border" style="padding-bottom: 10px;"></div>
              <div class="container  border";>
                  <div class="row border" style="background-image: url('images/整個框2.png'); background-repeat: no-repeat; background-size: 900px; ">
  
                      <div class="col-md-12 col-lg-3 border">
                          <p style="padding-left: 90px; padding-top: 10px; "><%= item.username %></p>
                          <img src="uploads/<%= item.username %>.png" style="width: 150px; height: 100px;float:center; padding-left: 50px;">
                          <div class="mr-2 mt-3 border" style="padding-top: 50px;"></div>
                          
                      </div>
                      <div class="col-md-12 col-lg-7 border"> 
                          <div id="row" class="col-sm-12 col-md-3 col-lg-1 border" style="padding-bottom: 30px;"></div>
                          <b style="padding-left: 30px;"><%= item.reply %></b><br>
                      </div>
                  </div>
              </div>
              <%} }) %>

    
    </body>
    <% character.forEach(function(item){if(item.rarity){%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </body>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      //var ary = ["<%= hp %>",  "<%= hp %>", '<%= atk %>', '<%= hp %>', '<%= hp %>', '<%= hp %>'];
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'radar',
    
        // The data for our dataset
        data: {
          labels: ['生命', '爆擊', '攻擊', '爆傷', '防禦', '閃避'],
    
          datasets: [{
            label: '食物語角色數值',
            backgroundColor: 'rgb(255, 99, 132, 0.5)',
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 2,
            data: ['<%= item.hp %>', '<%= item.crit %>', '<%= item.atk %>', '<%= item.crit_atk %>', '<%= item.def %>', '<%= item.miss %>'],
          }]
        },
    
        // Configuration options go here
        options: {
          legend: {
            scale: {
              fontColor: 'red'
            }
          }
        }
      });
    </script>
    
    <%} })%>
</html>