<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>食物語角色頁面</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <link href="styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div id="bg">
        <% character.forEach(function(item){%>
        <!-- <div><img src="images/combined.png" alt="上面的條" width="100%"></div> -->
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li id="line">｜</li>
                <li class="nav-item">
                    <a class="nav-link" href="index">食魂</a>
                </li>
                <li id="line">｜</li>
                <li class="nav-item">
                    <a class="nav-link" href="/weapon.html">膳具</a>
                </li>
                <li id="line">｜</li>
            </ul>
        </nav>
        <div class="container border">
            <!-- SSR -->

            <div id="stand" class="row border" style="margin-bottom:200px">
                <div class="col-md-12 col-lg-7  border"
                    style="background-image: url('images/body/<%= item.name %>.png');background-repeat: no-repeat; background-size: cover;z-index: 1;">
                    <a href="index.html#SSR"><img src="images/SSR.png"
                            style="padding-bottom:540px;padding-right:350px;padding-top:40px;"></a>
                </div>

                <div id="info" class="col-md-12 col-lg-5 mt-4 mb-3 pt-4 border" style="margin-bottom:200px">
                    <!-- <img src="images/框.png" id="P1" > -->
                    <div id="head" class="row border">
                        <!--<b class="p3">佛跳牆</b> <b class="p4">　CV:阿傑 特性:命中</b><br>-->
                        <div class="col-sm-6 p-1"><b class="p3"><%= item.name %></b></div>
                        <div id="head" class="row border">
                            <div class="col-sm-12 p-1"> <b class="p4"><br>　CV:<%= item.cv %> 特性:<%= item.feature %></b>
                            </div>
                        </div>
                    </div>

                    <div class="container border"  style="width: 650px; height: 330px; margin-left: -110px;">
                        <canvas id="myChart"></canvas>
                    </div>
                    

                    <div id="ABC" class="row border">
                        <p style="writing-mode:vertical-lr; "><b class="p4">技能</b></p>
                        <div class="mr-2 mt-3 border"><img src="images/技能圖/<%= item.name %>/1.png"></div>
                        <div class="mr-2 mt-3 border"><img src="images/技能圖/<%= item.name %>/2.png"></div>
                        <div class="mr-2 mt-3 border"><img src="images/技能圖/<%= item.name %>/3.png"></div>
                    </div>
                    <div id="ABC" class="row border">
                        <p style="writing-mode:vertical-lr; "><b class="p4">禮物</b></p>
                        <div class="mr-2 mt-3 border"><img src="images/材料/禮物.png" alt="佛跳牆" title="佛跳牆"></div>
                        <p style="writing-mode:vertical-lr; "><b class="p4">湯藥</b></p>
                        <div class="mr-2 mt-3 border"><img src="images/材料/湯藥.png" alt="佛跳牆" title="佛跳牆"></div>
                    </div>
                    <div id="ABC" class="row border">
                        <p style="writing-mode:vertical-lr; "><b class="p4">材料一</b></p>
                        <div class="mr-2 mt-3 border"><img src="images/材料/材料1.png" alt="佛跳牆" title="佛跳牆"></div>
                        <p style="writing-mode:vertical-lr; "><b class="p4">材料二</b></p>
                        <div class="mr-2 mt-3 border"><img src="images/材料/材料2.png" alt="佛跳牆" title="佛跳牆"></div>
                    </div>

                </div>
            </div>


        </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  //var ary = ["<%= hp %>",  "<%= hp %>", '<%= atk %>', '<%= hp %>', '<%= hp %>', '<%= hp %>'];
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'radar',

    // The data for our dataset
    data: {
      labels: ['生命', '爆擊', '攻擊', '爆傷', '防禦', '閃避'],

      datasets: [{
        label: '食物語角色數值',
        backgroundColor: 'rgb(255, 99, 132, 0.5)',
        borderColor: 'rgb(255, 99, 132)',
        borderWidth: 2,
        data: ['<%= item.hp %>', '<%= item.crit %>', '<%= item.atk %>', '<%= item.crit_atk %>', '<%= item.def %>', '<%= item.miss %>'],
      }]
    },

    // Configuration options go here
    options: {
      legend: {
        scale: {
          fontColor: 'red'
        }
      }
    }
  });
</script>

<% })%>
</html>